.popover {
    z-index: 1010;
    position:relative;
    opacity:1!important;
}

.popover-header {
    display:none;
}
.popover-body {
    color: #9F6000;
    background-color: #FEEFB3;
    text-align:center;
    font-size:15px;
}